# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# AWS credentials
*.pem
*.key
~/.aws/credentials

# Kubernetes configs
.kube/

# Logs
*.log

# Mac/Linux system files
.DS_Store

